/* Global styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.container {
  margin: 0 auto;
  max-width: 1380px;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  font-size: 16px;
}

.btn-white {
  color: #6f73ee;
  background-color: #ffffff;
}


/* ============================================= */
/* header */
/* ============================================= */
.header {
  margin-bottom: 41px;
}

.header-top {
  padding-top: 12px;
  padding-bottom: 9px;
  border-bottom: 1px solid #ecf3ff;
}

.header-wrap {
  display: flex;
  align-items: center;
  padding: 0 135px;
}

.header-top-info {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-right: auto;
}

.header-list {
  display: flex;
  gap: 30px;
}

.header-item {
  font-size: 12px;
}

.header-item-link {
  color: #5d6c7b;
}

.header-social {
  display: flex;
  gap: 8.5px;
}

.header-phone {
  font-weight: 500;
  font-size: 12px;
  color: #282739;
}

.header-bottom {
  padding-top: 29px;
}

.header-logo {
  margin-right: 35px;
}

.catalog-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
  margin-right: 20px;
  padding: 10px 0;
  padding-left: 15px;
  padding-right: 18px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  background-color: #6f73ee;
  cursor: pointer;
}

.burger {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
}

.burger-line {
  display: block;
  width: 13px;
  height: 1px;
  background-color: #ffffff;
}

.burger-line:last-child {
  width: 7px;
}

.search-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 47px;
  max-width: 603px;
  width: 100%;
  height: 40px;
  border: 1.50px solid #6f73ee;
  border-radius: 5px;
  background-color: #6f73ee;
}

.search-input {
  flex-grow: 1;
  padding: 10px 20px;
  min-width: 0;
  height: 100%;
  border: none;
  border-radius: 5px 0 0 5px;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #5d6c7b;
  outline: none;
}

.search-btn {
  display: flex;
  align-items: center;
  padding: 12px;
}

.group-btn {
  display: flex;
  gap: 25px;
}

.group-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 14px;
  color: #282739;
}



/* ============================================= */
/* section hero */
/* ============================================= */
.hero-wrap {
  position: relative;
}

.hero-img {
  border-radius: 10px;
}

.hero-content {
  position: absolute;
  top: 0;
  left: 0;
  padding: 58px 136px;
  z-index: 10;
  color: #ffffff;
}

.hero-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.hero-info-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.hero-info-item {
  font-size: 12px;
}

.hero-info-item:last-child {
  opacity: 0.7;
}

.hero-address {
  font-weight: 500;
  font-style: normal;
}

.hero-title {
  margin-bottom: 9px;
  max-width: 612px;
  font-weight: 600;
  font-size: 35px;
  line-height: 145%;
  text-transform: uppercase;
}

.hero-text {
  margin-bottom: 30px;
  font-size: 20px;
}

.hero-benefits {
  display: flex;
  gap: 35px;
  margin-bottom: 40px;
}

.hero-benefits-item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.hero-benefits-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
}

.hero-benefits-icon {
  position: relative;
  z-index: 2;
}

.hero-benefits-text {
  max-width: 150px;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
}

.hero-btn {
  padding: 17px 40px;
  border-radius: 5px;
}