/* Global styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  min-width: 320px;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  color: #282739;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  /* height: auto; */
  object-fit: cover;
}

.container {
  margin: 0 auto;
  max-width: 88.125rem;
  padding: 0 15px;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.section-padding {
  padding-left: 9.375rem;
  padding-right: 9.375rem;
}

.btn {
  font-size: 1rem;
}

.btn-white {
  color: #6f73ee;
  background-color: #ffffff;
}

.btn-primary {
  color: #ffffff;
  background-color: #6f73ee;
}


/* ============================================= */
/* header */
/* ============================================= */
.header {
  margin-bottom: 2.5625rem;
}

.header-top {
  padding-top: 12px;
  padding-bottom: 9px;
  border-bottom: 1px solid #ecf3ff;
}

.header-wrap {
  display: flex;
  align-items: center;
}

.header-top-info {
  display: flex;
  align-items: center;
  gap: 1.875rem;
  margin-right: auto;
}

.header-list {
  display: flex;
  gap: 1.875rem;
}

.header-item {
  font-size: 12px;
}

.header-item-link {
  color: #5d6c7b;
}

.header-social {
  display: flex;
  gap: 8.5px;
}

.header-phone {
  font-weight: 500;
  font-size: 12px;
  color: #282739;
}

.header-bottom {
  padding-top: 1.8125rem;
}

.header-logo {
  flex-shrink: 0;
  margin-right: 2.1875rem;
  width: 7.25rem;
  height: 1.4375rem;
}

.logo {
  height: auto;
}

.header-catalog {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .8125rem;
  margin-right: 1.25rem;
  padding: .625rem 0;
  padding-left: .9375rem;
  padding-right: 1.125rem;
  border-radius: 5px;
  font-weight: 500;
  font-size: 1rem;
  color: #ffffff;
  background-color: #6f73ee;
  cursor: pointer;
}

.burger {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
}

.burger-line {
  display: block;
  width: 13px;
  height: 1px;
  background-color: #ffffff;
}

.burger-line:last-child {
  width: 7px;
}

.header-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 2.9375rem;
  max-width: 37.6875rem;
  width: 100%;
  height: 40px;
  border: 1.50px solid #6f73ee;
  border-radius: 5px;
  background-color: #6f73ee;
}

.search-input {
  flex-grow: 1;
  padding: 10px 20px;
  min-width: 0;
  height: 100%;
  border: none;
  border-radius: 5px 0 0 5px;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #5d6c7b;
  outline: none;
}

.search-btn {
  display: flex;
  align-items: center;
  padding: 12px;
}

.header-group-btn {
  display: flex;
  gap: 1.5625rem;
}

.group-btn-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 14px;
  color: #282739;
}

/* .group-btn-heart {
  fill: #282739;
} */

/* 
<symbol viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" id="heart">
    <path d="M17.9935 5.51496C17.7329 4.90541 17.357 4.35303 16.887 3.88876C16.4167 3.4231 15.8621 3.05305 15.2535 2.79873C14.6224 2.53397 13.9455 2.39845 13.2622 2.40004C12.3034 2.40004 11.3681 2.66518 10.5552 3.166C10.3607 3.28581 10.176 3.4174 10.001 3.56077C9.82594 3.4174 9.6412 3.28581 9.44673 3.166C8.63386 2.66518 7.69847 2.40004 6.73975 2.40004C6.0494 2.40004 5.38043 2.53359 4.74841 2.79873C4.13779 3.05405 3.58745 3.42132 3.11489 3.88876C2.64428 4.35251 2.26834 4.90501 2.00838 5.51496C1.73807 6.14934 1.6 6.823 1.6 7.51629C1.6 8.17031 1.73224 8.85182 1.99477 9.54512C2.21451 10.1245 2.52955 10.7255 2.9321 11.3324C3.56995 12.2928 4.44699 13.2944 5.536 14.3098C7.34066 15.993 9.1278 17.1557 9.20365 17.2028L9.66453 17.5013C9.86872 17.6329 10.1313 17.6329 10.3354 17.5013L10.7963 17.2028C10.8722 17.1537 12.6574 15.993 14.464 14.3098C15.553 13.2944 16.43 12.2928 17.0679 11.3324C17.4704 10.7255 17.7874 10.1245 18.0052 9.54512C18.2677 8.85182 18.4 8.17031 18.4 7.51629C18.4019 6.823 18.2639 6.14934 17.9935 5.51496ZM10.001 15.9478C10.001 15.9478 3.07795 11.4679 3.07795 7.51629C3.07795 5.51496 4.7173 3.89269 6.73975 3.89269C8.1613 3.89269 9.39422 4.69401 10.001 5.86456C10.6077 4.69401 11.8406 3.89269 13.2622 3.89269C15.2846 3.89269 16.924 5.51496 16.924 7.51629C16.924 11.4679 10.001 15.9478 10.001 15.9478Z" fill="#282739" />
  </symbol> */


/* ============================================= */
/* section hero */
/* ============================================= */
.hero {
  margin-bottom: 4.5rem;
}

.hero-wrap {
  position: relative;
}

.hero-img {
  border-radius: 10px;
}

.hero-content {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 58px;
  padding-left: 10.49vw;
  z-index: 10;
  color: #ffffff;
}

.hero-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.hero-info-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
}

.hero-info-item:last-child {
  opacity: 0.7;
}

.hero-address {
  font-weight: 500;
  font-style: normal;
}

.hero-title {
  margin-bottom: 9px;
  max-width: 38.25rem;
  font-weight: 600;
  font-size: 2.1875rem;
  line-height: 145%;
  text-transform: uppercase;
}

.hero-text {
  margin-bottom: 30px;
  font-size: 1.25rem;
}

.hero-benefits {
  display: flex;
  gap: 2.1875rem;
  margin-bottom: 40px;
}

.hero-benefits-item {
  display: flex;
  align-items: center;
  gap: .9375rem;
}

.hero-benefits-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
}

.hero-benefits-icon {
  position: relative;
  z-index: 2;
}

.hero-benefits-text {
  max-width: 150px;
  font-weight: 500;
  font-size: .875rem;
  line-height: 129%;
}

.hero-btn {
  padding: 17px 40px;
  border-radius: 5px;
}



/* ============================================= */
/* section benefits */
/* ============================================= */
.benefits {
  margin-bottom: 6.25rem;
}

.benefits-item {
  display: flex;
}

.benefits-item:first-child {
  flex-direction: row-reverse;
  gap: 85px;
  margin-bottom: 6.25rem;
}

.benefits-item:last-child {
  gap: 95px;
}

.benefits-picture {
  width: 37.3%;
}

.benefits-img {
  border-radius: 10px;
}

.benefits-content {
  padding-top: 28px;
}

.benefits-content-title {
  margin-bottom: 1.875rem;
  font-weight: 600;
  font-size: 35px;
  line-height: 145%;
  text-transform: uppercase;
}

.test-drive-title {
  max-width: 645px;
}

.training-content-title {
  max-width: 585px;
}

.benefits-content-subtitle {
  margin-bottom: 18px;
  font-weight: 500;
  font-size: 20px;
  line-height: 119%;
}

.benefits-content-item {
  display: flex;
  gap: 10px;
}

.benefits-content-item:not(:last-child) {
  margin-bottom: 10px;
}

.benefits-content-text {
  font-size: 18px;
  line-height: 150%;
}



/* ============================================= */
/* section products */
/* ============================================= */
.products {
  display: flex;
}

.products-cards {
  display: flex;
}

.products-title {
  margin-bottom: 50px;
  max-width: 732px;
  font-weight: 600;
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
}

.products-card {
  width: 255px;
  border: 1.50px solid #eaebed;
  border-radius: 10px;
}

.products-card-top {
  position: relative;
  height: 231px;
}

.products-card-pic,
.products-card-img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}


.badge-hit,
.bage-new {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
}

.badge-hit {
  padding: 4px 9px;
  background-color: #ee685f;
}

.badge-new {
  padding: 4px 7px;
  background-color: #75d14a;
}

.badge-balance {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
}

.badge-balance-icon {
  fill: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
}

.products-card-bottom {
  padding: 20px 25px 20px 24px;
}

.products-card-title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 18px;
}

.products-card-features {
  display: flex;
  gap: 24px;
  margin-bottom: 25px;
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.features-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.features-item-text {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #5d6c7b;
}

.products-card-wrap {
  display: flex;
  margin-bottom: 16px;
}

.products-card-price-block {
  display: flex;
  flex-direction: column;
  margin-right: 24px;
}

.products-card-old-price {
  font-weight: 500;
  font-size: 12px;
  text-decoration: line-through;
  color: #5d6c7b;
}

.products-card-price {
  font-weight: 600;
  font-size: 20px;
}

.products-card-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1.30px solid #eaebed;
}

.products-card-btn:first-of-type {
  margin-right: 10px;
}

.products-card-heart {
  fill: #6F73EE;
}

.products-card-button {
  padding: 10px 20px;
  width: 100%;
  border-radius: 5px;
  font-size: 12px;
}





/* ============================================= */
/* media */
/* ============================================= */
@media (max-width: 1440px) {
  .section-padding {
    padding-left: 10.42vw;
    padding-right: 10.42vw;
  }
}



@media (max-width: 1280px) {
  .benefits-picture {
    width: 45%;
  }

  .benefits-content {
    max-width: 50%;
  }

  .benefits-content-title {
    font-size: 28px;
  }

  .benefits-item:first-child,
  .benefits-item:last-child {
    gap: 50px;
  }
}



@media (max-width: 1101px) {
  .benefits-picture {
    /* flex-shrink: 1; */
    width: 50%;
  }

  .benefits-content {
    padding-top: 0;
  }
}



@media (max-width: 1024px) {
  .benefits-content-title {
    font-size: 26px;
  }
}



@media (max-width: 992px) {
  html {
    font-size: 14px;
  }

  .header-wrap {
    flex-wrap: wrap;
  }

  .header-catalog {
    margin-right: auto;
  }

  .header-search {
    margin-top: 10px;
    margin-right: 0;
    max-width: 100%;
    order: 1;
  }

  .hero-img {
    object-position: 70% 50%;
  }

  .hero-info-item:last-child {
    opacity: 1;
  }

  .benefits {
    margin-bottom: 50px;
  }

  .benefits-item,
  .benefits-item:first-child {
    flex-direction: column;
  }

  .benefits-item:first-child {
    margin-bottom: 50px;
  }

  .benefits-picture {
    align-self: center;
    width: auto;
  }

  .benefits-content {
    max-width: 100%;
  }

  .benefits-content-title {
    max-width: 100%;
  }

  .benefits-item:first-child,
  .benefits-item:last-child {
    gap: 15px;
  }
}



@media (max-width: 768px) {
  html {
    font-size: 12px;
  }

  .hero-title {
    font-size: 30px;
  }

  .hero-text {
    font-size: 14px;
  }

  .benefits-content-title {
    font-size: 24px;
  }

  .benefits-content-subtitle {
    font-size: 16px;
  }

  .benefits-content-text {
    font-size: 16px;
  }
}



@media (max-width: 576px) {
  .section-padding {
    padding-left: 15px;
    padding-right: 15px;
  }

  .header-top-info {
    gap: 15px;
  }

  .header-list {
    gap: 10px;
  }

  .header-item,
  .header-phone {
    font-size: 10px;
  }

  .hero-img {
    object-position: 30% 50%;
  }

  .hero-content {
    padding-top: 40px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .hero-title {
    font-size: 30px;
  }

  .hero-benefits {
    flex-wrap: wrap;
  }

  .hero-benefits-text {
    max-width: 100%;
  }

  .benefits-img {
    height: auto;
  }
}



@media (max-width: 503px) {
  .header-wrap {
    justify-content: space-between;
  }

  .header-logo {
    margin-right: 0;
  }

  .header-catalog {
    margin-right: 0;
  }

  .group-btn-link {
    font-size: 12px;
  }

  .group-btn-link:not(:last-child) {
    display: none;
  }

  .hero-content {
    padding-top: 25px;
  }

  .hero-info {
    margin-bottom: 15px;
  }

  .hero-info-item {
    font-size: 10px;
  }

  .hero-benefits {
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
  }
}



@media (max-width: 400px) {
  .header-phone {
    display: none;
  }

  .header-top-info {
    justify-content: space-between;
    gap: 0;
    width: 100%;
    margin-right: 0;
  }
}



@media (max-width: 375px) {
  .hero-info {
    flex-direction: column;
    align-items: flex-start;
  }

  .hero-title {
    font-size: 24px;
  }
}