/* Global styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/* .container {
  margin: 0 auto;
  max-width: 90rem;
} */


/* ============================================= */
/* header */
/* ============================================= */