/* Global styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  min-width: 320px;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  color: #282739;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  /* height: auto; */
  object-fit: cover;
}

.container {
  margin: 0 auto;
  max-width: 88.125rem;
  padding: 0 15px;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.section-padding {
  padding-left: 9.375rem;
  padding-right: 9.375rem;
}

.btn {
  font-size: 1rem;
}

.btn-white {
  border-radius: 5px;
  color: #6f73ee;
  background-color: #ffffff;
}

.btn-primary {
  color: #ffffff;
  background-color: #6f73ee;
}


/* ============================================= */
/* header */
/* ============================================= */
.header {
  margin-bottom: 2.5625rem;
}

.header-top {
  padding-top: 12px;
  padding-bottom: 9px;
  border-bottom: 1px solid #ecf3ff;
}

.header-wrap {
  display: flex;
  align-items: center;
}

.header-top-info {
  display: flex;
  align-items: center;
  gap: 1.875rem;
  margin-right: auto;
}

.header-list {
  display: flex;
  gap: 1.875rem;
}

.header-item {
  font-size: 12px;
}

.header-item-link {
  color: #5d6c7b;
}

.header-social {
  display: flex;
  gap: 8.5px;
}

.header-phone {
  font-weight: 500;
  font-size: 12px;
  color: #282739;
}

.header-bottom {
  padding-top: 1.8125rem;
}

.logo {
  flex-shrink: 0;
  width: 7.25rem;
  height: 1.4375rem;
}

.header-logo {
  margin-right: 2.1875rem;
}

.logo_img {
  height: auto;
}

.header-catalog {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .8125rem;
  margin-right: 1.25rem;
  padding: .625rem 0;
  padding-left: .9375rem;
  padding-right: 1.125rem;
  border-radius: 5px;
  font-weight: 500;
  font-size: 1rem;
  color: #ffffff;
  background-color: #6f73ee;
  cursor: pointer;
}

.burger {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
}

.burger-line {
  display: block;
  width: 13px;
  height: 1px;
  background-color: #ffffff;
}

.burger-line:last-child {
  width: 7px;
}

.header-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 2.9375rem;
  max-width: 37.6875rem;
  width: 100%;
  height: 40px;
  border: 1.50px solid #6f73ee;
  border-radius: 5px;
  background-color: #6f73ee;
}

.search-input {
  flex-grow: 1;
  padding: 10px 20px;
  min-width: 0;
  height: 100%;
  border: none;
  border-radius: 5px 0 0 5px;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #5d6c7b;
  outline: none;
}

.search-btn {
  display: flex;
  align-items: center;
  padding: 12px;
}

.header-group-btn {
  display: flex;
  gap: 1.5625rem;
}

.group-btn-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 14px;
  color: #282739;
}



/* ============================================= */
/* section hero */
/* ============================================= */
.hero {
  margin-bottom: 4.5rem;
}

.hero-wrap {
  position: relative;
}

.hero-img {
  border-radius: 10px;
}

.hero-content {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 58px;
  padding-left: 10.49vw;
  z-index: 10;
  color: #ffffff;
}

.hero-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.hero-info-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
}

.hero-info-item:last-child {
  opacity: 0.7;
}

.hero-address {
  font-weight: 500;
  font-style: normal;
}

.hero-title {
  margin-bottom: 9px;
  max-width: 38.25rem;
  font-weight: 600;
  font-size: 2.1875rem;
  line-height: 145%;
  text-transform: uppercase;
}

.hero-text {
  margin-bottom: 30px;
  font-size: 1.25rem;
}

.hero-benefits {
  display: flex;
  gap: 2.1875rem;
  margin-bottom: 40px;
}

.hero-benefits-item {
  display: flex;
  align-items: center;
  gap: .9375rem;
}

.hero-benefits-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
}

.hero-benefits-icon {
  position: relative;
  z-index: 2;
}

.hero-benefits-text {
  max-width: 150px;
  font-weight: 500;
  font-size: .875rem;
  line-height: 129%;
}

.hero-btn {
  padding: 17px 40px;
}



/* ============================================= */
/* section benefits */
/* ============================================= */
.benefits {
  margin-bottom: 6.25rem;
}

.benefits-item {
  display: flex;
}

.benefits-item:first-child {
  flex-direction: row-reverse;
  gap: 85px;
  margin-bottom: 6.25rem;
}

.benefits-item:last-child {
  gap: 95px;
}

.benefits-picture {
  width: 37.3%;
}

.benefits-img {
  border-radius: 10px;
}

.benefits-content {
  padding-top: 28px;
}

.benefits-content-title {
  margin-bottom: 1.875rem;
  font-weight: 600;
  font-size: 35px;
  line-height: 145%;
  text-transform: uppercase;
}

.test-drive-title {
  max-width: 645px;
}

.training-content-title {
  max-width: 585px;
}

.benefits-content-subtitle {
  margin-bottom: 18px;
  font-weight: 500;
  font-size: 20px;
  line-height: 119%;
}

.benefits-content-item {
  display: flex;
  gap: 10px;
}

.benefits-content-item:not(:last-child) {
  margin-bottom: 10px;
}

.benefits-content-text {
  font-size: 18px;
  line-height: 150%;
}



/* ============================================= */
/* section products */
/* ============================================= */
.products {
  margin-bottom: 51px;
}

.products-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-title {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  max-width: 732px;
  font-weight: 600;
  font-size: 35px;
  line-height: 145%;
  text-transform: uppercase;
  text-align: center;
}

.products-slider {
  /* width: 100%; */
  /* max-width: 1110px; */
}

.products-cards {
  display: flex;
  /* justify-content: center; */
  gap: 30px;
}

.products-card {
  max-width: 255px;
  width: 100%;
  border: 1.50px solid #eaebed;
  border-radius: 10px;
}

.products-card-top {
  position: relative;
  height: 231px;
}

.products-card-pic,
.products-card-img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}


.badge-hit,
.badge-new {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 135%;
  color: #fff;
}

.badge-hit {
  padding: 4px 9px;
  background-color: #ee685f;
}

.badge-new {
  padding: 4px 7px;
  background-color: #75d14a;
}

.badge-balance {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
}

.badge-balance-icon {
  opacity: 0.4;
}

.products-card-bottom {
  padding: 20px 25px 20px 24px;
}

.products-card-title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
}

.products-card-features {
  display: flex;
  gap: 24px;
  margin-bottom: 25px;
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.features-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.features-item-text {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 135%;
  color: #5d6c7b;
}

.products-card-wrap {
  display: flex;
  margin-bottom: 16px;
}

.products-card-price-block {
  display: flex;
  flex-direction: column;
  margin-right: 24px;
}

.products-card-old-price {
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  text-decoration: line-through;
  color: #5d6c7b;
}

.products-card-price {
  font-weight: 600;
  font-size: 20px;
  line-height: 135%;
}

.products-card-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1.30px solid #eaebed;
}

.products-card-btn:first-of-type {
  margin-right: 10px;
}

.products-card-heart {
  fill: #6F73EE;
}

.products-card-button {
  padding: 10px 20px;
  width: 100%;
  border-radius: 5px;
  font-size: 12px;
}



/* ============================================= */
/* section cta */
/* ============================================= */
.cta {
  margin-bottom: 6.25rem;
  padding-top: 49px;
}

.bg-grey {
  background-color: #f4f7fb;
}

.cta-section {
  position: relative;
  padding-left: 8.4375rem;
  padding-right: 8.4375rem;
  padding-top: 88px;
  padding-bottom: 78px;
  border-radius: 10px;
}

.cta-form {
  max-width: 613px;
}

.cta-title {
  margin-bottom: 35px;
  font-weight: 600;
  font-size: 35px;
  line-height: 150%;
  text-transform: uppercase;
}

.cta-text {
  margin-bottom: 21px;
  font-weight: 500;
  font-size: 16px;
}

.cta-input-btn-wrap {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.input-group {
  width: 100%;
  height: 53px;
}

.cta-input-group {
  max-width: 263px;
}

.input {
  padding: 15px 25px;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
}

.cta-input {
  border: 1px solid #eaebed;
  letter-spacing: 0.15em;
  color: #5d6c7b;
}

.cta-button {
  padding: 15px 25px;
  border-radius: 5px;
  font-size: 1rem;
}

.cta-policy {
  display: flex;
  gap: 12px;
}

.accept-label {
  padding-top: 3px;
}

.accept {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background-color: #ffffff;
  appearance: none;
  cursor: pointer;
}

.accept:checked::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 11px;
  height: 9px;
  background-image: url('../img/check.svg');
}

.cta-policy-text {
  max-width: 307px;
  font-size: 12px;
  line-height: 117%;
}

.cta-policy-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #282739;
}

.cta-picture {
  position: absolute;
  bottom: 0;
  right: 180px;
}

.cta-img {
  height: auto;
}



/* ============================================= */
/* section cta-discount */
/* ============================================= */
.cta-discount {
  padding-top: 23px;
  padding-bottom: 21px;
  background-color: #6f73ee;
}

.cta-discount_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.cta-discount_title {
  max-width: 445px;
  font-weight: 600;
  font-size: 18px;
  line-height: 145%;
  text-transform: uppercase;
  color: #fff;
}

.cta-discount-inner {
  display: flex;
  gap: 20px;
  max-width: 570px;
  width: 100%;
}

.cta-discount-group {
  max-width: 410px;
}

.cta-discount-input {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
}

.cta-discount-input::placeholder {
  color: #ffffff;
}

.cta-discount-btn {
  padding: 17px 25px;
}



/* ============================================= */
/* footer */
/* ============================================= */
.footer {
  padding-top: 46px;
  padding-bottom: 18px;
  background-color: #f4f7fb;
}

.footer_top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 76px;
}

.footer_catalog {
  /* margin-right: 125px; */
  /* margin-right: 55px; */
  margin-right: 5%;
}

.footer_buyers {
  /* margin-right: 110px; */
  /* margin-right: 40px; */
  margin-right: 3.7%;
}

.footer_contacts {
  margin-right: 10px;
}

.footer-subtitle {
  margin-bottom: 19px;
  font-weight: 500;
  font-size: 18px;
  line-height: 145%;
}

.footer_buyers-column {
  display: flex;
  gap: 44px;
}

.footer_column-item {
  font-size: 14px;
}

.footer_column-item:not(:last-child) {
  margin-bottom: 14px;
}

.footer_column-link {
  color: #5d6c7b;
}

.footer_contacts-column {
  display: flex;
  gap: 40px;
}

.footer_contacts-item {
  font-size: 12px;
}

.footer_contacts-item:first-child {
  margin-bottom: 5px;
}

.footer_contacts-item:last-child {
  color: #5d6c7b;
}

.footer_contacts-phone {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 145%;
}

.footer_contacts-link {
  color: #282739;
}

.footer_order-btn {
  display: block;
  /* margin-left: auto; */
  padding-top: 7px;
  font-weight: 500;
  font-size: 12px;
  color: #6f73ee;
}

.footer_middle {
  display: flex;
  align-items: center;
  padding-top: 36px;
  padding-bottom: 33px;
  border-top: 1px solid rgba(93, 108, 123, 0.15);
  border-bottom: 1px solid rgba(93, 108, 123, 0.15);
}

.footer_logo {
  margin-right: 59px;
}

.footer_downloads {
  display: flex;
  gap: 10px;
  margin-right: 20px;
}

.footer_social-group {
  display: flex;
  gap: 10px;
  margin-left: auto;
}

.footer_downloads-img,
.footer_social-img {
  height: auto;
  border-radius: 5px;
}

.footer_bottom {
  display: flex;
  align-items: center;
  padding-top: 17px;
}

.footer_requisites,
.footer_policy {
  display: block;
  font-size: 12px;
  color: #5d6c7b;
}

.footer_requisites {
  margin-right: 44px;
}

.footer_policy {
  margin-right: auto;
}

.footer_payment {
  display: flex;
  gap: 5px;
  margin-right: 37px;
}

.footer_messenger-group {
  display: flex;
  gap: 15px;
}

.footer_messenger-text {
  font-size: 14px;
}

.footer_messenger {
  display: flex;
  gap: 14px;
}





/* ============================================= */
/* media */
/* ============================================= */
@media (max-width: 1439px) {
  .section-padding {
    padding-left: 10.42vw;
    padding-right: 10.42vw;
  }

  .cta-picture {
    right: clamp(40px, calc(180px * (50vw / 1440px)), 180px);
  }
}



@media (max-width: 1280px) {
  .benefits-picture {
    width: 45%;
  }

  .benefits-content {
    max-width: 50%;
  }

  .benefits-content-title {
    font-size: 28px;
  }

  .benefits-item:first-child,
  .benefits-item:last-child {
    gap: 50px;
  }

  .cta {
    padding-top: 0;
  }

  .cta-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .cta-title {
    margin-bottom: 20px;
  }

  .cta-picture {
    width: 30%;
  }

  .cta-discount_title {
    font-size: 16px;
  }

  .footer-subtitle {
    font-size: 17px;
  }

  .footer_column-item {
    font-size: 13px;
  }

  .footer_contacts-phone {
    font-size: 15px;
  }
}



@media (max-width: 1101px) {
  .benefits-picture {
    width: 50%;
  }

  .benefits-content {
    padding-top: 0;
  }

  .cta-picture {
    right: 20px;
  }

  .footer {
    padding-top: 30px;
  }

  .footer_top {
    padding-bottom: 30px;
  }

  .footer-subtitle {
    margin-bottom: 13px;
    font-size: 16px;
  }

  .footer_column-item {
    font-size: 12px;
  }

  .footer_column-item:not(:last-child) {
    margin-bottom: 10px;
  }

  .footer_contacts-phone {
    font-size: 14px;
  }

  .footer_contacts-phone {
    margin-bottom: 5px;
  }

  .footer_middle {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .footer_logo {
    margin-right: 30px;
  }
}



@media (max-width: 1024px) {
  .benefits-content-title {
    font-size: 26px;
  }

  .cta-section {
    display: flex;
    justify-content: center;
    padding: 50px;
  }

  .cta-title {
    font-size: 26px;
  }

  .cta-picture {
    display: none;
  }

  .cta-discount_content {
    flex-direction: column;
  }

  .cta-discount_title {
    text-align: center;
  }

  .footer_buyers-column {
    gap: 25px;
  }

  .footer_contacts-column {
    gap: 25px;
  }
}



@media (max-width: 992px) {
  html {
    font-size: 14px;
  }

  .header-wrap {
    flex-wrap: wrap;
  }

  .header-catalog {
    margin-right: auto;
  }

  .header-search {
    margin-top: 10px;
    margin-right: 0;
    max-width: 100%;
    order: 1;
  }

  .hero-img {
    object-position: 70% 50%;
  }

  .hero-info-item:last-child {
    opacity: 1;
  }

  .benefits {
    margin-bottom: 50px;
  }

  .benefits-item,
  .benefits-item:first-child {
    flex-direction: column;
  }

  .benefits-item:first-child {
    margin-bottom: 50px;
  }

  .benefits-picture {
    align-self: center;
    width: auto;
  }

  .benefits-content {
    max-width: 100%;
  }

  .benefits-content-title {
    max-width: 100%;
  }

  .benefits-item:first-child,
  .benefits-item:last-child {
    gap: 15px;
  }

  .cta {
    margin-bottom: 50px;
  }

  .footer_buyers-column,
  .footer_contacts-column {
    flex-direction: column;
    gap: 10px;
  }

  .footer_bottom {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
  }

  .footer_requisites,
  .footer_policy,
  .footer_payment {
    margin-right: 0;
  }

  .footer_messenger-text {
    font-size: 12px;
  }

  .footer_payment {
    order: 2;
  }
}



@media (max-width: 768px) {
  html {
    font-size: 12px;
  }

  .hero-title {
    font-size: 30px;
  }

  .hero-text {
    font-size: 14px;
  }

  .benefits-content-title {
    font-size: 24px;
  }

  .benefits-content-subtitle {
    font-size: 16px;
  }

  .benefits-content-text {
    font-size: 16px;
  }

  .cta-section {
    padding: 25px;
  }

  .cta-title {
    margin-bottom: 15px;
  }

  .cta-text {
    margin-bottom: 15px;
  }

  .footer_top {
    padding-bottom: 20px;
  }

  .footer_middle {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}



@media (max-width: 576px) {
  .section-padding {
    padding-left: 15px;
    padding-right: 15px;
  }

  .header-top-info {
    gap: 15px;
  }

  .header-list {
    gap: 10px;
  }

  .header-item,
  .header-phone {
    font-size: 10px;
  }

  .hero-img {
    object-position: 30% 50%;
  }

  .hero-content {
    padding-top: 40px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .hero-title {
    font-size: 30px;
  }

  .hero-benefits {
    flex-wrap: wrap;
  }

  .hero-benefits-text {
    max-width: 100%;
  }

  .benefits-img {
    height: auto;
  }

  .cta-input-btn-wrap {
    flex-direction: column;
    gap: 15px;
  }

  .cta-title {
    font-size: 23px;
  }

  .cta-text {
    font-size: 14px;
  }

  .cta-input-group {
    max-width: 100%;
  }

  .input-group {
    height: 44px;
  }

  .cta-discount-inner {
    flex-direction: column;
    gap: 10px;
  }

  .cta-discount-group {
    max-width: 100%;
  }

  .cta-discount-btn {
    height: 44px;
  }

  .cta-discount_title {
    text-align: left;
  }

  .footer-top {
    row-gap: 15px;
  }

  .footer_column {
    flex-basis: 50%;
    margin-right: 0;
  }

  .footer_buyers-column,
  .footer_contacts-column {
    flex-direction: row;
    gap: 20px;
  }

  .footer_contacts-phone,
  .footer_column-item {
    white-space: nowrap;
  }

  .footer_order-btn {
    padding-top: 0;
  }

  .footer_middle {
    flex-wrap: wrap;
    gap: 10px;
  }

  .footer_social-group {
    margin-left: 0;
  }
}



@media (max-width: 503px) {
  .header-wrap {
    justify-content: space-between;
  }

  .header-logo {
    margin-right: 0;
  }

  .header-catalog {
    margin-right: 0;
  }

  .group-btn-link {
    font-size: 12px;
  }

  .group-btn-link:not(:last-child) {
    display: none;
  }

  .hero-content {
    padding-top: 25px;
  }

  .hero-info {
    margin-bottom: 15px;
  }

  .hero-info-item {
    font-size: 10px;
  }

  .hero-benefits {
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
  }
}



@media (max-width: 480px) {
  .cta-title {
    font-size: 20px;
  }

  .cta-policy-text {
    font-size: 10px;
  }
}



@media (max-width: 400px) {
  .header-phone {
    display: none;
  }

  .header-top-info {
    justify-content: space-between;
    gap: 0;
    width: 100%;
    margin-right: 0;
  }
}



@media (max-width: 375px) {
  .hero-info {
    flex-direction: column;
    align-items: flex-start;
  }

  .hero-title {
    font-size: 24px;
  }
}