/* Global styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.container {
  margin: 0 auto;
  max-width: 1380px;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  /* background-color: transparent; */
}


/* ============================================= */
/* header */
/* ============================================= */
.header-top {
  padding: 11px 0;
  border-bottom: 1px solid #ecf3ff;
}

.header-inner {
  display: flex;
  align-items: center;
  padding: 0 135px;
}

.header-top-info {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-right: auto;
}

.header-list {
  display: flex;
  gap: 30px;
}

.header-item {
  font-size: 12px;
}

.header-item-link {
  color: #5d6c7b;
}

.header-social {
  display: flex;
  gap: 8.5px;
}

.header-phone {
  font-weight: 500;
  font-size: 12px;
  color: #282739;
}

.header-bottom {
  padding-top: 27px;
}

.header-logo {
  margin-right: 35px;
}

.catalog-btn {
  margin-right: 20px;
}

.search-group {}

.link-group {
  display: flex;
  gap: 25px;
}